@import '../vars.scss';

.hero--section {
    display: grid;
    justify-items: center;
    width: 100%;
    position: relative;
    z-index: 1;
}

.hero--container {
    display: grid;
    align-self: flex-start;
    justify-items: center;
    width: 90%;

    margin: 3em 1em 5em;
}

.image--container {
    width: 70%;
    max-width: 280px;
    position: relative;

    * {
        width: 100%;
    }
}

.text--container {
    width: 100%;
    position: relative;
    z-index: 2;

    background-color: #fff;
    padding: 2em;
    padding-right: 0;
    margin-top: 1em;

    color: $clr-dark;
}

.name {
    @include font-stack('Raleway');
    width: 100%;
    height: fit-content;

    margin-block: 0;

    font-size: $fs-h1 - 0.3;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.rol {
    width: fit-content;
    height: fit-content;
    position: relative;

    margin: 0.5em 0 3em 0.5em;

    font-weight: $bold !important;
    font-size: $fs-rol;

    &::after {
        width: 95%;
        height: 0;
        content: '';
        position: absolute;
        top: 1.1em;
        left: 0.5em;
        opacity: 0.75;

        border: 3px solid $clr-accent;
    }
}

.ads-text--container {
    position: relative;
}

.ads-text--border {
    width: fit-content;
    position: relative;

    padding-left: 1em;
    margin-block: 1em;

    font-size: $fs-p;
    font-weight: $bold;

    &:first-of-type {
        margin-top: 0;
    }

    &:last-of-type {
        margin-bottom: 0;
    }

    &::before {
        height: 0.8em;
        position: absolute;
        content: '';
        top: 50%;
        transform: translateY(-50%);
        left: -0.75em;

        border: 3px solid #ff00f2;
        margin-left: 1em;
    }
}

@mixin increase-fs-hero($add) {
    .name {
        font-size: $fs-h1 + $add + 0.3;
    }

    .rol {
        font-size: $fs-rol + $add;
    }

    .ads-text {
        font-size: $fs-p + $add;
    }
}

/* ====================
    Media queries
   ==================== */

@media (min-width: 430px) {
    @include increase-fs-hero(0.1);

    .text--container {
        max-width: 400px;
    }
}

@media (min-width: 800px) {
    .hero--container {
        grid-template-columns: 55% 5% 40%;
        align-items: center;
    }

    .image--container,
    .text--container {
        grid-row: 1 / 3;
    }

    .image--container {
        width: 100%;
        grid-column: 3 / 4;
    }
}

@media (min-width: 920px) {
    @include increase-fs-hero(0.3);

    .text--container {
        max-width: 520px;
    }
}

@media (min-width: 1000px) {
    $typingSpeed: 1s;
    $initialDelay: 0.75s;

    .image--container {
        opacity: 0;
        transform: translateY(100%);
        animation: fadeInUp 2s ease $initialDelay forwards;
    }

    .ads-text {
        font-family: 'Source Code Pro';
    }

    .ads-text_1 {
        position: relative;
        width: max-content;

        &::before,
        &::after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }

        &::before {
            background-color: #fff;

            animation: typewrite $typingSpeed steps(var(--adsText1Length))
                $initialDelay forwards;
        }

        &::after {
            width: 0.7em;
            height: 1em;
            top: 50%;
            transform: translateY(-50%);

            background: $clr-accent;
            animation: typewrite $typingSpeed steps(var(--adsText1Length))
                    $initialDelay forwards,
                hideAfter 1ms ($initialDelay + $typingSpeed) forwards;
        }
    }

    .ads-text_2 {
        position: relative;
        width: max-content;

        &::before,
        &::after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }

        &::before {
            background-color: #fff;

            animation: typewrite $typingSpeed steps(var(--adsText2Length))
                ($initialDelay + $typingSpeed) forwards;
        }

        &::after {
            opacity: 0;
            width: 0.7em;
            height: 1em;
            top: 50%;
            transform: translateY(-50%);

            background: $clr-accent;
            animation: showAfter 1ms ($initialDelay + $typingSpeed) forwards,
                typewrite $typingSpeed steps(var(--adsText1Length))
                    ($initialDelay + $typingSpeed) forwards,
                hideAfter 1ms ($initialDelay + 2 * $typingSpeed) forwards;
        }
    }

    .ads-text_3 {
        position: relative;
        width: max-content;

        &::before,
        &::after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }

        &::before {
            background-color: #fff;

            animation: typewrite $typingSpeed steps(var(--adsText3Length))
                ($initialDelay + 2 * $typingSpeed) forwards;
        }

        &::after {
            opacity: 0;
            width: 0.7em;
            height: 1em;
            top: 50%;
            transform: translateY(-50%);

            background: $clr-accent;
            animation: showAfter 1ms ($initialDelay + 2 * $typingSpeed) forwards,
                typewrite $typingSpeed steps(var(--adsText1Length))
                    ($initialDelay + 2 * $typingSpeed) forwards,
                blink 1.1s steps(2, start) ($initialDelay + 3 * $typingSpeed)
                    infinite;
        }
    }
}

@keyframes typewrite {
    to {
        left: 101%;
    }
}

@keyframes showAfter {
    to {
        opacity: 1;
    }
}

@keyframes hideAfter {
    to {
        opacity: 0;
    }
}

@keyframes blink {
    to {
        visibility: hidden;
    }
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
