@import '../vars.scss';

.hero--section {
    display: grid;
    justify-items: center;
    width: 100%;
    height: 610px;
    position: relative;
    z-index: 1;

    @include background-image(
        $clr-soft-dark,
        url('/backgrounds/dark-background.svg')
    );
}

.hero--container {
    display: grid;
    align-self: flex-start;
    width: 90%;
}

.name-rol--container {
    width: 100%;
    position: relative;
    z-index: 2;

    padding-top: 3em;
    padding-inline: 1.2em;
    margin-top: 1em;

    color: $clr-soft-light;
}

.name {
    width: 100%;
    height: fit-content;

    margin-block: 0;

    @include font-stack('Montserrat');

    font-size: $fs-h1;
    font-weight: 600;
}

.first-name,
.last-name {
    background: rgb(214, 36, 205);
    background: linear-gradient(
        270deg,
        rgba(214, 36, 205, 0.74831931063441) 0%,
        rgba(25, 139, 175, 0.8967786943879115) 100%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.rol {
    width: fit-content;
    height: fit-content;
    position: relative;

    margin: 0.5em 0 3em 0.5em;

    font-weight: $bold !important;
    font-size: $fs-rol;

    &::after {
        width: 95%;
        height: 0;
        content: '';
        position: absolute;
        top: 1.1em;
        left: 0.5em;
        opacity: 0.75;

        border: 3px solid $clr-accent;
    }
}

.overlap-div {
    width: 80%;
    max-width: 360px;
    position: relative;
    top: -25%;
    right: -2%;
    z-index: 2;

    border-radius: 3px;
}

.ads-text--container {
    position: relative;
    width: 100%;

    @include background-image(
        $clr-soft-light,
        url('/backgrounds/alt-light-background.svg')
    );
    padding: 2em 0 2em 1.5em;
    border-radius: 3px;
    box-shadow: $box-shadow-strong;
    margin: 0;
}

.ads-text {
    width: fit-content;
    position: relative;

    padding-left: 1em;

    font-size: $fs-p;
    font-weight: $bold;

    &:first-of-type {
        margin-top: 0;
    }

    &:last-of-type {
        margin-bottom: 0;
    }

    &::before {
        height: 0.8em;
        position: absolute;
        content: '';
        top: -0.1em;
        left: -0.75em;

        border: 3px solid #ff00f2;
        margin-left: 1em;
    }
}

@mixin increase-fs-hero($add) {
    .name {
        font-size: $fs-h1 + $add + 0.3;
    }

    .rol {
        font-size: $fs-rol + $add;
    }

    .ads-text {
        font-size: $fs-p + $add;
    }
}

/* ====================
    Media queries
   ==================== */

@media (min-width: 460px) {
    @include increase-fs-hero(0.1);
}

@media (min-width: 680px) {
    @include increase-fs-hero(0.2);
}

@media (min-width: 800px) {
    @include increase-fs-hero(0.6);

    .hero--section {
        height: 700px;
    }

    .hero--container {
        padding-left: 10em;
    }

    .overlap-div {
        max-width: 460px;
    }

    .ads-text {
        font-size: $fs-p + 0.3;
    }
}

@media (min-width: 940px) {
    @include increase-fs-hero(0.75);

    .name-rol--container {
        max-width: 1100px;
    }

    .overlap-div {
        max-width: 460px;
    }

    .ads-text {
        font-size: $fs-p + 0.4;
    }
}
