@import '../vars.scss';

.header {
    width: 100%;
    max-width: 100%;
    height: 60px;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 8;
    opacity: 1;

    background-color: $clr-dark;
    padding-block: 0.1em;
    padding-inline: 5%;
}

.toggle-nav {
    position: absolute;
    right: 1em;
    cursor: pointer;
    z-index: 8;

    background: transparent;
    padding: 0.5em;
    border: 0;
}

.hamburger {
    display: block;
    position: relative;
    z-index: 7;

    &:before {
        top: 6px;
    }

    &:after {
        bottom: 6px;
    }

    &:before,
    &:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
    }
}

.hamburger,
.hamburger::before,
.hamburger::after {
    width: 2em;
    height: 3px;
    transition: transform 250ms ease-in-out;

    background: $clr-accent;
    border-radius: 1em;
}

.hamburger-clicked {
    transform: rotate(0.625turn);

    &:before {
        transform: rotate(90deg) translateX(-6px);
    }

    &:after {
        opacity: 0;
    }
}

/* ====================
    Media queries
   ==================== */

@media (min-width: 900px) {
    .header {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    }

    .toggle-nav {
        display: none;
    }
}
