@import '../vars.scss';
@import '../AboutMe/AboutMe.module.scss';

.projects--section {
    display: grid;
    justify-items: center;
    position: relative;
    z-index: 2;

    @include background-image(
        $clr-soft-dark,
        url('/backgrounds/dark-background.svg')
    );

    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

.projects--container {
    width: 90%;
    display: grid;
    // z-index: 3;
    // grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));

    margin-block: 5em;
    margin-inline: auto;
}

.section--title {
    @include h2-styles($clr-accent);
    // z-index: 2;
    // color: rgb(11, 10, 77);
    // border-color: rgb(11, 10, 77);
    // border-color: #005b60;
    margin-top: 3em;
    margin-bottom: 0;

    // color: #005b60;
}

.project--article {
    width: 100%;
    display: grid;

    // background-color: rgb(19, 19, 19);
    // box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    //     rgba(0, 0, 0, 0.22) 0px 15px 12px;
    // border-radius: 10px;
    margin: 3em auto;
    color: $clr-soft-light;
}

.image--container {
    width: fit-content;
    // height: 84%;
    grid-row: 1 / 2;
    position: relative;
    justify-self: center;

    margin-bottom: 1em;

    * {
        width: 100%;
    }
}

.text--container {
    display: grid;
    width: fit-content;
    // justify-items: center;
    // min-height: 200px;
    // height: 400px;

    padding: 1em 0 2em;
    margin-inline: auto;
}

.project-title {
    @include font-stack('Raleway');
    width: fit-content;
    position: relative;

    margin-top: 0;
    margin-bottom: 0.75em;

    font-size: $fs-h3;
    text-transform: uppercase;
    letter-spacing: 0.05em;

    // text-align: center;
}

.project-description {
    width: 330px;
    // max-width: 390px;
    // justify-self: center;
    // height: 130px;

    margin-top: 0;
    margin-bottom: 2em;

    font-size: $fs-p;
    line-height: 1.6;
}

.links--container {
    width: 100%;
    display: grid;
    row-gap: 1em;
    justify-items: center;
}

.project-link {
    @include font-stack('Raleway');
    width: 12em;
    cursor: pointer;

    padding-block: 0.5em;
    border: none;
    border-radius: 3px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    font-size: 1.1rem;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    text-align: center;

    &:first-child {
        align-self: center;
        height: fit-content;

        background-color: $clr-soft-light;
        // border: 2px solid black;

        color: $clr-dark;
    }

    // &:last-child {
    //     display: flex;
    //     justify-content: center;
    //     height: fit-content;

    //     background-color: $clr-dark;
    //     border: 2px solid $clr-light;

    //     color: $clr-light;

    //     .link-text {
    //         display: grid;
    //         align-self: center;
    //         margin-left: 0.5em;
    //     }
    // }
}

@mixin increase-fs-project($num) {
    .project-title {
        font-size: $fs-h3 + $num;
    }

    .project-description {
        font-size: $fs-p + $num;
    }

    .project-link {
        font-size: 1.1rem + $num;
    }
}

@media (min-width: 620px) {
    @include increase-fs-project(0.1);
}

@media (min-width: 820px) {
    .project--article {
        max-width: 780px;
        grid-template-columns: 40% 60%;
        justify-self: left;
        align-items: center;

        // background-color: $clr-soft-light;
        background-color: #fff;
        padding: 2em 1em;
        border-radius: 5px;
        margin-inline: 0;

        color: $clr-dark;
    }

    .image--container {
        width: 290px;
    }

    .text--container {
        padding-block: 0;
        margin-left: 2em;
    }

    .project-title {
        margin-top: 0;
    }

    .project-description {
        width: 100%;
    }

    .project-link {
        &:first-child {
            background-color: $clr-dark;

            color: $clr-soft-light;
        }
    }
}

// @media (min-width: 1000px) {
//     @include increase-fs-project(0.2);
// }

// @media (min-width: 820px) {
//     .section--title {
//         font-size: $fs-h2 + 0.1;
//     }
// }

// @media (min-width: 1160px) {
//     .section--title {
//         font-size: $fs-h2 + 0.4;

//         // border-width: 5px;
//     }
// }

// @media (min-width: 1201px) {
//     .projects--container {
//         max-width: 90%;
//     }

//     .project--article {
//         &:hover,
//         &:focus-visible {
//             animation: bigAndBlue 0.4s linear forwards;

//             background: #005b60;

//             color: $clr-dark;
//         }
//     }

//     .project-link {
//         &:first-child {
//             &:hover,
//             &:focus-visible {
//                 // background-color: #fcff31;
//                 background-color: #00c59b;
//             }
//         }
//         &:last-child {
//             &:hover,
//             &:focus-visible {
//                 // background-color: #fcff31;
//                 background-color: #00c59b;
//                 color: $clr-dark;
//                 border-color: $clr-dark;
//             }
//         }
//     }
// }

@keyframes bigAndBlue {
    from {
        opacity: 0.9;
    }
    to {
        transform: scale(1.2);
        opacity: 1;
    }
}

/* ====================
    Modal
   ====================*/

.modal-background {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;

    background-color: rgba(0, 0, 0, 0.95);
}

.project--modal {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 11;

    margin-inline: auto;
}

// .show-modal {
//     display: block;
//     z-index: 6;
// }
