@import '../vars.scss';

.contact--wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.background--container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.contact--section {
    position: relative;
    display: grid;
    justify-items: center;
    z-index: 1;

    strong {
        font-weight: 700;
    }
}

.contact--container {
    width: 90%;
    max-width: 450px;

    background-color: $clr-soft-light;
    box-shadow: $box-shadow-strong;
    padding: 3em;
    border-radius: 3px;
    margin-block: 2.2rem * 3;

    font-weight: 500;
}

.success-message--container,
.failure-message--container {
    width: 100%;

    background-color: #f5f5f5;
    padding: 1em;
    border-radius: 5px;
    margin-top: 0;
    margin-bottom: 3em;

    text-align: center;
}

.success-message--container {
    border: 1px solid #1f700f;

    color: #1f700f;
}

.failure-message--container {
    border: 1px solid #b61616;

    color: #b61616;
}

.title {
    @include h2-styles($clr-accent2);

    margin-top: 0;
    margin-bottom: 1em;
}

.description {
    margin-bottom: 3em;

    text-align: center;
    line-height: 1.2;
    font-size: $fs-p;
}

.form {
    display: grid;

    font-size: 1.1rem;

    label {
        margin-bottom: 0.5em;

        font-weight: 600;
    }
}

.user-name,
.user-email,
.message {
    @include font-stack('Inter');
    width: 100%;

    padding-inline: 0.5em;
    padding-block: 0.25em;
    border: 1px solid $clr-soft-dark;
    border-radius: 5px;
    margin-bottom: 0.5em;

    font-size: 1.1rem;
    font-weight: 400;

    &:focus-visible {
        transform: scale(1.03);

        outline-color: #ff00f2;
    }
}

.field-length {
    @include font-stack('Lato');

    margin-top: 0;
    margin-bottom: 1em;

    font-size: 1rem;
    text-align: end;
}

.email_field-length {
    width: fit-content;
    grid-column: 2 / 3;
    display: inline-block;
}

.field_l-invalid_e--container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
}

.invalid-email {
    width: fit-content;
    display: inline-block;
    grid-row: 1 / 2;

    margin-top: 0;
    margin-bottom: 2em;

    color: red;
}

.message {
    height: 100px;

    padding-block: 3px;
}

.required {
    // @include font-stack('Inter');
    color: rgb(230, 33, 33);
}

.bad-field {
    border-color: red;
    border-width: 2px;
}

/* ====================
    Buttons
   ==================== */

.send-btn,
.go-home-btn {
    cursor: pointer;
    display: inline-block;
    justify-self: center;

    background-color: $clr-accent2;
    padding: 1em 2.5em;
    border: none;
    border-radius: 3px;

    @include font-stack($primary-font);
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 1px;
    color: $clr-light;
    text-decoration: none;

    &:hover,
    &:focus-visible {
        transform: scale(1.1);

        background-color: $clr-accent2;
        outline-color: #ff00f2;

        color: $clr-light;
    }

    &:active {
        transform: scale(0.9);
    }

    &:disabled {
        transform: none;
        cursor: not-allowed;

        background-color: #c0c0c0;
    }
}

.send-btn {
    justify-self: end;
}

.go-home--container {
    width: fit-content;

    margin-inline: auto;
}

/* ====================
    Media queries
   ====================*/
