@import '../vars.scss';

.contact {
    display: grid;
    // justify-items: center;
    background-color: #f3f3f3;
    background-image: url('/triangles-background2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .contactContainer {
        max-width: 400px;
        margin: 3em 2em;

        .title {
            @include h2-styles();
            margin-bottom: 2em;
        }

        .desc {
            margin-bottom: 3em;
            text-align: center;
            line-height: 1.6;
        }

        .sendButton,
        .goHome {
            cursor: pointer;
            display: inline-block;
            justify-self: center;

            background-color: $accent-color;
            padding: 1em 2.5em;
            border: none;
            border-radius: 5px;

            font-family: $primary-font;
            font-size: 1.2rem;
            font-weight: $bold;
            letter-spacing: 1px;
            color: $light-color;
            text-decoration: none;

            &:hover,
            &:focus {
                color: $light-color;
                background-color: $third-color;
                transform: scale(1.1);
            }

            &:active {
                transform: scale(0.9);
            }

            &:disabled {
                transform: none;
                background-color: #c0c0c0;
                cursor: not-allowed;
            }
        }

        .successMessage,
        .failureMessage {
            width: 100%;

            text-align: center;
            background-color: #f5f5f5;
            padding: 1em;
            margin-top: 0;
            border-radius: 5px;
        }

        .successMessage {
            border: 1px solid #1f700f;

            color: #1f700f;
        }

        .goHomeContainer {
            width: fit-content;
            margin-inline: auto;
        }

        .failureMessage {
            border: 1px solid #b61616;

            color: #b61616;
        }

        .form {
            font-size: 1rem;

            display: grid;

            label {
                font-weight: 600;

                margin-bottom: 0.5em;
            }

            .userName,
            .userEmail,
            .message {
                font-family: $primary-font;
                font-size: 1rem;

                padding-inline: 0.5em;
                border: 1px solid #444;
                border-radius: 5px;
            }

            .userName,
            .userEmail {
                margin-bottom: 1.4em;
                padding-block: 0.25em;
            }

            .invalidEmailMsg {
                width: fit-content;

                padding: 0.5em 0;
                border-bottom: 1px solid red;
                margin: 0 0 2em;

                color: red;
            }

            .message {
                height: 100px;

                padding-block: 3px;
                margin-bottom: 3em;
            }
        }
    }
}

@media (min-width: 700px) {
    .contact {
        .contactContainer {
            margin: 3em 0 3em 10%;
        }
    }
}

@media (min-width: 1281px) {
    // .contactContainer {
    //     animation: slideFromAbove 2s linear;
    // }

    .userName,
    .userEmail,
    .message {
        border: none;
        &:focus {
            outline: 1px solid $third-color;
            transform: scale(1.02);
        }
    }
}

// @keyframes slideFromAbove {
//     from {
//         transform: translateY(-100%);
//     }
//     to {
//         transform: translateX(0);
//     }
// }
