@import '../vars.scss';

.about-me--section {
    display: grid;
    width: 100%;
    position: relative;
    z-index: 1;

    font-size: $fs-p;
    font-weight: 400;

    strong {
        font-weight: 700;
    }
}

.section--title {
    @include section--title();
}

.about-me--container {
    z-index: 2;
    display: grid;
    width: 90%;

    margin-block: 3em;
    margin-inline: auto;

    color: $clr-soft-light;

    a {
        color: $clr-light;

        &:hover,
        &:focus-visible {
            color: $clr-accent;
        }
    }
}

.who-i-am--col {
    display: grid;
    justify-content: center;
}

.about--title {
    @include h3-styles($clr-accent);

    margin-bottom: 2em;
    margin-inline: auto;
}

.descriptions--wrapper {
    display: grid;
    width: 100%;
    max-width: 610px;
    justify-self: center;
}

.description {
    width: 60%;
    max-width: 550px;
    justify-self: left;

    margin-block: 1em;

    line-height: 1.6;

    &:first-of-type {
        margin-top: 0;
    }

    &:nth-of-type(2) {
        width: 60%;
        justify-self: right;

        padding-right: 1em;
        border-right: 3px solid $clr-accent;

        text-align: end;
    }

    &:last-of-type {
        margin-bottom: 4em;
    }
}

.just-skills {
    @include h3-styles($clr-accent);
    @include font-stack('Raleway');

    margin-top: 0;
    margin-bottom: 2em;
}

.all-skills--wrapper {
    width: 100%;
    max-width: 500px;
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    column-gap: 0.5em;
    justify-items: center;
    justify-content: space-evenly;

    margin-inline: auto;
}

.skills--subsection {
    width: 100%;
}

.skills-title {
    @include h4-styles($clr-accent);

    margin-top: 0;
}

.skills-list {
    width: 75%;
    list-style: none;

    padding-left: 0;
    margin-inline: auto;
    li {
        width: 100%;

        padding-block: 0.25em;
        border-radius: 50px;
        margin-block: 1em;
        margin-inline: auto;

        text-align: center;
        color: $clr-dark;
        font-weight: 500;
        font-size: 0.8rem;
    }

    @for $i from 1 through 3 {
        li:nth-child(#{$i}) {
            background-color: darken($clr-light, $i * 5%);
        }
    }
}

.frontend-skills {
    @for $i from 1 through 5 {
        li:nth-child(#{$i}) {
            background-color: darken($clr-light, $i * 3%);
        }
    }
}

/* ====================
    media queries
   ==================== */

@media (min-width: 430px) {
    .skills-list {
        li {
            font-size: 0.9rem;
        }
    }
}

@media (min-width: 500px) {
    .skills-list {
        li {
            font-size: 1rem;
        }
    }
}

@media (min-width: 520px) {
    .section--title {
        font-size: $fs-h2 + 0.4;
    }

    .description {
        margin-block: 2em;
    }
}

@media (min-width: 820px) {
    .section--title {
        font-size: $fs-h2 + 0.6;
    }

    .about--title {
        font-size: $fs-h2 + 0.1;
    }

    .description {
        font-size: $fs-p + 0.1;

        &:last-of-type {
            margin-bottom: 5em;
        }
    }

    .just-skills {
        font-size: $fs-h3 + 0.1;
    }

    .skills-title {
        font-size: $fs-h4 + 0.1;
    }
}

@media (min-width: 920px) {
    .section--title {
        font-size: $fs-h2 + 1;

        margin-block: 2.5em;
    }

    .about-me--container {
        grid-template-columns: 5% 40% 55%;
        padding-block: 2.2rem * 3;
        margin-block: 0;
    }

    .overlap-div {
        position: relative;
    }

    .overlap-div {
        width: 100%;
        height: fit-content;
        grid-column: 3 / 4;
        justify-self: end;
        z-index: 2;

        @include background-image(
            $clr-soft-dark,
            url('/backgrounds/dark-background.svg')
        );
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
            rgba(0, 0, 0, 0.22) 0px 15px 12px;
        padding: 2em 2em;
        border-radius: 3px;
    }

    .who-i-am--col {
        color: $clr-soft-light;

        a {
            color: $clr-light;

            &:hover,
            &:focus-visible {
                color: $clr-accent;
            }
        }
    }

    .about--title {
        border-color: $clr-accent;

        color: $clr-accent;
    }

    .descriptions--wrapper {
        padding-inline: 0.5em;
    }

    .description {
        width: 70%;

        margin-block: 1.5em;

        font-size: $fs-p;

        &:nth-of-type(2) {
            width: 70%;

            border-right-color: $clr-accent;
        }

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    .skills--col {
        position: relative;
        right: -5%;
    }

    .skills--col {
        width: 100%;
        height: fit-content;
        grid-row: 1 / 2;
        grid-column: 2 / 3;
        z-index: 2;
        justify-self: right;

        background-color: $clr-soft-light;
        box-shadow: $box-shadow-strong;
        padding: 2em 1em;
        margin-top: 2.5em;
    }

    .just-skills,
    .skills-title {
        border-color: $clr-accent2;

        color: $clr-accent2;
    }

    .all-skills--wrapper {
        width: 100%;
        grid-template-columns: repeat(2, minmax(100px, 1fr));
        grid-template-rows: repeat(2, auto);
        grid-row: 2 / 3;
        row-gap: 0.5em;
    }

    .skills-list {
        width: 75%;
        grid-row: initial;

        li {
            background: $clr-soft-dark;

            color: $clr-soft-light;
        }

        @for $i from 1 through 3 {
            li:nth-child(#{$i}) {
                background-color: lighten($clr-soft-dark, $i * 5%);
            }
        }
    }

    .frontend-skills {
        grid-column: 2 / 3;
        grid-row: 1 / -1;

        @for $i from 1 through 5 {
            li:nth-child(#{$i}) {
                background-color: lighten($clr-soft-dark, $i * 3%);
            }
        }
    }
}

@media (min-width: 1080px) {
    .just-skills {
        font-size: $fs-h3 + 0.2;
    }

    .skills-title {
        font-size: $fs-h4 + 0.2;
    }

    .skills-list {
        li {
            font-size: 1.1rem;
        }
    }
}

@media (min-width: 1160px) {
    .about--title {
        font-size: $fs-h2 + 0.4;
    }

    .description {
        font-size: $fs-p + 0.2;
    }

    .just-skills {
        font-size: $fs-h3 + 0.6;
    }

    .skills-title {
        font-size: $fs-h4 + 0.4;
    }

    .skills-list {
        max-width: 220px;
        li {
            font-size: 1.3rem;
        }
    }
}
