@import './vars.scss';

html,
body {
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    @include font-stack('Inter');
}

* {
    box-sizing: border-box;
}

strong {
    font-weight: $bold;
    letter-spacing: 1px;
}
