@import './vars.scss';

html,
body {
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    font-family: $primary-font, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
    box-sizing: border-box;
}

p {
    font-weight: 300 !important;
    letter-spacing: normal !important;
    line-height: 1.4 !important;
}

strong {
    font-weight: $bold;
    letter-spacing: 1px;
}
